<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%-5level] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-36X{sourceThread}] [%X{akkaSource}] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/service.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- Daily rollover -->
      <fileNamePattern>logs/service-%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- Keep 30 days history -->
      <maxHistory>30</maxHistory>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>
    <encoder>
      <pattern>[%-5level] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-36X{sourceThread}] [%X{akkaSource}] %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

</configuration>
